.app-main {
  background-color: #85a190;
  min-height: 100vh;
}

.user-card {
  max-width: 400px;
  min-width: 400px;
  margin: 25px;
  padding: 20px;
}

.users-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hire-toast {
  position: absolute;
    color: white;
}

.App {
  background-color: #85a190;
  height: 100vh;
}

.emphasized-text {
  font-family: 'Abril Fatface', cursive;
}

.regular-text {
  font-family: 'Roboto', sans-serif;
}