.app-main {
  background-color: #65AFFF;
  height: 100%;
}

.user-card {
  max-width: 400px;
  min-width: 400px;
  margin: 25px;
  padding: 20px;
  background-color: #FF5E5B;
}

.users-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hire-toast {
  position: absolute;
}